.stats {
  text-align: left;
}

.stats__list {
  margin-left: 60px;
  margin-bottom: 15px;
}

.stats__list__data {
  padding-left: 15px;
}

.stats__line {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 270px;
  background-color: lightgray;
  margin-bottom: 15px;
}

.stats__total {
  margin-left: 60px;
  margin-bottom: 15px;
}

.stats__feedback {
  text-align: center;
  font-size: 26px;
}
