.statistics_container {
  box-shadow: 2px 2px 12px 5px rgba(29, 51, 67, 0.36);
}

.title {
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
  color: #51565a;
}

.statlist {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  width: 100%;
  color: #fff;
}

.label {
  font-size: 12px;
  margin-bottom: 3px;
  color: #fff;
}

.percentage {
  font-size: 18px;
}
